<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg fixed-top" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand brand-text" th:href="@{/home}">Karteria</a>
        <div class="ms-auto">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-link nav-link brand-text">Sair</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>