<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: var(--cor-superficie);">
        <div class="container">
            <a class="navbar-brand brand-text fs-4" th:href="@{/}">Karteria</a>

            <div class="d-flex">
                <a th:href="@{/login}" class="btn btn-outline-light me-2">Login</a>
                <a th:href="@{/register}" class="btn btn-primary-karteria">Registrar-se</a>
            </div>
        </div>
    </header>
</body>
</html>