<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/_base :: layout(~{::title}, ~{::#content})}">
<head>
    <title>Dashboard Colaborador</title>
</head>
<body>
<div id="content" class="w-100 vh-100 d-flex flex-column">
    <div th:replace="~{fragments/_navbar :: navbar}"></div>
    <div class="container mt-5 flex-grow-1">
        <h1>Dashboard do <span class="brand-text">Colaborador</span></h1>
        <p class="lead text-secondary">Aqui você poderá buscar e se candidatar a anúncios.</p>
    </div>
</div>
</body>
</html>