<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/_base :: layout(~{::title}, ~{::#content})}">
<head>
    <title>Bem-vindo ao Karteria</title>
</head>
<body>
<div id="content" class="text-center">
    <div class="card p-5" style="width: 30rem;">
        <h1 class="brand-text">Karteria</h1>
        <p class="lead text-secondary">Conectando quem precisa com quem sabe fazer.</p>
        <div th:if="${param.logout}" class="alert alert-info mt-3">Você saiu com sucesso.</div>
        <div class="d-grid gap-3 col-10 mx-auto mt-4">
            <a th:href="@{/login}" class="btn btn-primary-karteria btn-lg">Login</a>
            <a th:href="@{/register}" class="btn btn-outline-success btn-lg">Registrar-se</a>
        </div>
    </div>
</div>
</body>
</html>