<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- O CSS atualizado -->
    <link rel="stylesheet" th:href="@{/css/login-custom.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    
    <title>Login - Karteria</title>
</head>

<body>
    <main id="container">
        <!-- ID mantido para consistência com o CSS -->
        <form id="login_form" th:action="@{/login}" method="post">
            
            <div id="form_header">
                <h1>Login</h1>
                <i id="mode_icon" class="fa-solid fa-moon"></i>
            </div>
            
            <div th:if="${registrationSuccess}" class="alert alert-success">
                <span th:text="${registrationSuccess}"></span>
            </div>
            <div th:if="${param.error}" class="alert alert-danger">
                 Email ou senha inválidos.
            </div>

            <div id="inputs">
                <div class="input-box">
                    <label for="username">E-mail</label>
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id="username" name="username" required placeholder="seu@email.com">
                    </div>
                </div>

                <div class="input-box">
                    <label for="password">Senha</label>
                    <div class="input-field">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" id="password" name="password" required placeholder="Sua senha">
                    </div>
                    <div id="forgot_password">
                        <a href="#">Esqueceu a senha?</a>
                    </div>
                </div>
            </div>

            <button type="submit" id="login_button">
                Entrar
            </button>
            
            <div class="signup-link">
                Não tem uma conta? <a th:href="@{/register}">Registre-se aqui</a>.
            </div>
        </form>
    </main>

    <!-- Seu script JS não precisa de alterações -->
    <script type="text/javascript" th:src="@{/js/form-dark-mode.js}"></script>
</body>
</html>
